

body {
  margin: 0;
  overflow: hidden;
}

@keyframes AutoFillStart {
}

@keyframes AutoFillCancel {
}

input:-webkit-autofill {
  animation-name: AutoFillStart;
}

.btn-primary, .btn-primary:focus, .btn-primary:active,  .btn-primary:hover,  .btn-primary.disabled, .btn-primary:disabled {
  color: cornsilk;
  background-color: chocolate;
  border-color: chocolate;
}

body {
  background-color: cornsilk;
  color: chocolate;
}

input[type="url"]::placeholder {
  color: chocolate;
}
.form-control:not(active){
  color: chocolate;
}

.form-control:focus{
  color:chocolate;
}

.myform > * {
  display: inline-block;
  margin-bottom: 1rem;
}

.myform > *:not(:first-child) {
  margin-left: .5em;
}
.myform > input, .myform .form-group{
  width: 25%;
  min-width: 25em;
}
.world {
  display: block;
}
.unused {
  width: 80%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}