body {
  margin: 0;
  overflow: hidden;
}

.fubr:-webkit-autofill {
  animation: gack 1s infinite;
}

.fubr {
  background-color: greenyellow;
  height: 90px;
  width: 90px;
  left: 0px;
  top: 0px;
  position: absolute;
}

@keyframes sampleanimation {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: 300px;
    top: 0px;
  }
  50% {
    left: 300px;
    top: 150px;
  }
  75% {
    left: 0px;
    top: 150px;
  }
}

@keyframes gack {
  from {
    background-color: purple(0%);
  }
  to {
    background-color: red(100%);
  }
}

@keyframes AutoFillStart {
  from {
    background-color: purple(0%);
  }
  to {
    background-color: red(100%);
  }
}
@keyframes fooAutoFillStart {
  from {
    background-color: purple(0%);
  }
  to {
    background-color: red(100%);
  }
}

@keyframes AutoFillCancel {}

input:-webkit-autofill {
  animation: AutoFillStart 1s;
    transition: background-color 50000s ease-in-out 0s;
}

.btn-primary, .btn-primary:focus, .btn-primary:active, .btn-primary:hover, .btn-primary.disabled, .btn-primary:disabled {
  color: cornsilk;
  background-color: chocolate;
  border-color: chocolate;
}

body {
  background-color: cornsilk;
  color: chocolate;
}

input[type="url"]::placeholder {
  color: chocolate;
}

.form-control:not(active) {
  color: chocolate;
}

.form-control:focus {
  color: chocolate;
}

.myform>* {
  display: inline-block;
  margin-bottom: 1rem;
}

.myform>*:not(:first-child) {
  margin-left: .5em;
}

.myform>input, .myform .form-group {
  width: 25%;
  min-width: 25em;
}

.world {
  display: block;
}

.unused {
  width: 80%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}